
<div class="page-wrap d-flex flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <span class="display-1 d-block">404</span>
                <div class="mb-4 lead">Pagina no encontrada</div>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-link">Back to Home</a>
            </div>
        </div>
    </div>
</div>
