@model Web.Models.CreateMateriaViewModel

@{
    ViewData["Title"] = "Create";
}

<hr />
<div class="row">
    <div class="col-lg-4 col-md-8">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Materia.Descripcion" class="control-label"></label>
                <input asp-for="Materia.Descripcion" class="form-control" />
                <span asp-validation-for="Materia.Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Materia.HsSemanales" class="control-label"></label>
                <input asp-for="Materia.HsSemanales" class="form-control" />
                <span asp-validation-for="Materia.HsSemanales" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Materia.HsTotales" class="control-label"></label>
                <input asp-for="Materia.HsTotales" class="form-control" />
                <span asp-validation-for="Materia.HsTotales" class="text-danger"></span>
            </div>
            <select class="form-group" asp-for="Materia.PlanId" asp-items="Model.Planes"></select>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
