@Model EditMateriaViewModel



<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    // Necesario para ejecutar las validaciones en el navegador (el cliente), ademas de en el servidor
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
