@model IEnumerable<Materia>

<ul class="list-group">
    @foreach (Materia mat in Model)
    {
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@mat.Descripcion</h5>
                <p class="card-text">@mat.Plan.Especialidad.Descripcion</p>
                <a class="btn btn-primary" asp-area="" asp-controller="Materia" asp-action="Edit">Editar</a>
            </div>
        </div>
    }
</ul>